@color-black: #1A1A1A;
@color-white: #FFFFFF;

@color-gray: #CCCCCC;

@color-blue: blue;
@color-green: green;
@color-green-2: greenyellow;
@color-red: red;

@color-youtube: #FF0000;
@color-twitter: #0097CA;
@color-facebook: #3366FF;
@color-instagram: #D1119F;