.form__label{
  font-weight: bold;
}
.form__input{
  display: block;
  width: 100%;
}

.btn{
  background-color: @color-white;
  border: 1px solid @color-black;
  color: @color-black;
  cursor: pointer;
  padding: @padding*.5 @padding*1.5;
  text-decoration: none;
}