.p,
.a,
.f{
  @dimentions: 16px*.75;
  border: 2px solid;
  display: block;
  height: @dimentions;
  width: @dimentions;
}


.p{ //Pispirispis
  background-color: @color-green;
  border-color: darken(@color-green, 10%);
  z-index: 5;

  &.pi{
    background-color: @color-green-2;
  }

  &.m{ //Macho

  }
  &.h{ //Hembra
    border-radius: 50%;
  }
}

.a{ //Alicanolas
  background-color: @color-blue;
  border-color: darken(@color-blue, 10%);
  border-radius: 50%;
  z-index: 1;
}
.f{ //Fifirufas
  background-color: red;
  border-color: darkred;
  border-radius: 50%;
  z-index: 1;
}