.interfaz{
  @controlWidth: 300px;

  height: 100%;
  left: 0;
  min-height: 500px;
  min-width: @screen-md;
  overflow: hidden;
  padding-right: @controlWidth;
  position: fixed;
  top: 0;
  width: 100%;
  #area{
    height: 100%;
    overflow: auto;
    width: 100%;
    .etiquetas{
      background-color: fadeout(@color-black, 30%);
      color: @color-white;
      font-size: .8em;
      left: @padding;
      padding: @padding;
      position: absolute;
      top: @padding;
      z-index: 8888;
      p{
        margin: 0;
        span{
          &:first-child{
            margin-right: @padding*.5;
          }
        }
      }
      .item{
        margin: @padding*.5 0;
      }
      .number{
        font-weight: bold;
        margin-left: @padding*.5;
      }
    }
  }
  #control{
    background-color: @color-gray;
    border-left: 3px solid @color-black;
    height: 100%;
    overflow: auto;
    padding: 0 @padding;
    position: absolute;
    right: 0;
    top: 0;
    width: @controlWidth;
    z-index: 9999;
    fieldset{
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  #plano{
    background: url("@{path__images}/cuadricula.png") repeat left top;
    box-shadow: 0 0 0 3px @color-gray;
    position: relative;
    .p,
    .a,
    .f{
      position: absolute;
    }
  }

  #analisis{
    background-color: fadeout(@color-black, 10%);
    border-right: @padding*.5 solid @color-black;
    height: 100%;
    left: 0;
    padding: @padding;
    position: absolute;
    top: 0;
    transition: all .4s;
    transform: translateX(-100%);
    width: 600px;
    z-index: 9999;
    &.active{
      transform: translateX(0%);
    }
    .activador{
      @dimention: 56px;
      background-color: @color-black;
      border: 0;
      border-bottom-right-radius: @padding;
      border-top-right-radius: @padding;
      bottom: 0;
      cursor: pointer;
      left: 100%;
      outline: none;
      padding: @padding*.5 @padding*.75;
      position: absolute;
      width: @dimention;
      svg{
        height: auto;
        width: 100%;
        path{
          fill: @color-white !important;
        }
      }
    }
    .charts{
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}