button.activador(title="Datos", ng-click="toogleDatos()")
    img.to-svg(src=paths.images+"/chart.svg")

.charts
    .row
        .col-xs-12
            canvas#canvas-1
        .col-sm-6.col-xs-12
            canvas#canvas-2
        .col-sm-6.col-xs-12
            canvas#canvas-3
    hr
    .row
        .col-xs-12
            canvas#canvas-4