include _config

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")

        title Vida Artificial

        link(href=paths.vendor+"/normalize-css/normalize.css", rel="stylesheet")
        link(href=paths.vendor+"/flexboxgrid/dist/flexboxgrid.min.css", rel="stylesheet")

        link(href="css/main.css?v113015", rel="stylesheet")

    body
        section.content
            block content

        script(src=paths.vendor+"/jquery/dist/jquery.min.js")
        script(src=paths.vendor+"/angular/angular.min.js")

        script(src=paths.vendor+"/chart.js/dist/Chart.bundle.min.js")
        script(src=paths.vendor+"/chart.js/dist/Chart.min.js")

        script(src="js/main.js?v113015")