h1 Control

form(ng-submit="submit()")
    fieldset(ng-disabled="avanzar")
        .section
            h2 Espacio
            .row
                .col-xs-6
                    label.form__label Ancho
                    input.form__input(type="number", ng-model="planoConf.ancho", min="300")
                .col-xs-6
                    label.form__label Alto
                    input.form__input(type="number", ng-model="planoConf.alto", min="300")
                .col-xs-12
                    label.form__label Velocidad
                    input.form__input(type="number", ng-model="velocidad", min="1", max="100")
            hr

            h2 Población
            .row
                .col-xs-12
                    h4(style="margin-top:0; margin-bottom:6px;") Pispirispis - Tropus
                    .row
                        .col-xs-6
                            label.form__label Machos
                            input.form__input(type="number", ng-model="poblacionInicial.tropus.machos", min="1", max="2000", required)
                        .col-xs-6
                            label.form__label Hembras
                            input.form__input(type="number", ng-model="poblacionInicial.tropus.hembras", min="1", max="2000", required)
                    h4(style="margin-bottom:6px;") Pispirispis - Inopios
                    .row
                        .col-xs-6
                            label.form__label Machos
                            input.form__input(type="number", ng-model="poblacionInicial.inopios.machos", min="1", max="2000", required)
                        .col-xs-6
                            label.form__label Hembras
                            input.form__input(type="number", ng-model="poblacionInicial.inopios.hembras", min="1", max="2000", required)
            hr

            h2 Etapas
            .row
                .col-xs-12(ng-repeat="etapa in etapasConfig")
                    h4(style="margin: 6px 0 0 0;") {{ etapa.nombre }}
                    .row
                        .col-xs-6
                            label.form__label Tiempo (Dias)
                            input.form__input(type="number", ng-model="etapa.duracion", min="0", required)
                        .col-xs-6
                            label.form__label Energia
                            input.form__input(type="number", ng-model="etapa.energia", min="0", required)
            hr

            h2 Alimento
            .row
                .col-xs-6
                    label.form__label Cada (Dia)
                    input.form__input(type="number", ng-model="generacionAlicanolas.tiempo", min="0", max="100", required)
                .col-xs-6
                    label.form__label Cant Max
                    input.form__input(type="number", ng-model="generacionAlicanolas.cantidadMax", min="0", max="10", required)

            hr

            h2 Fifirufas
            .row
                .col-xs-6
                    label.form__label Energia
                    input.form__input(type="number", ng-model="energiaFifirufa", min="0", required)

    hr

    .row.around-xs
        button.btn(type="submit") {{ (avanzar)?'Parar':'Iniciar'; }}
        a.btn(href="index.html") Reload
    br