-
    var deploy = false
    var paths = {}

    if (!deploy)
        paths = {
            images: '../assets/images',
            vendor: '../bower_components'
        }
    else
        paths = {
            images: 'images',
            vendor: 'vendor'
        }