extends _base

block content
    #pispirispis-app(ng-app="pispirispis")
        #controller-main(ng-controller="main")
            section.interfaz
                #area
                    #plano(style="height: {{ planoConf.alto }}px; width: {{ planoConf.ancho }}px;")
                        span.p(
                            ng-repeat="t in tropus.individuos",
                            style="" +
                                "left: {{ t.getPosicion().x }}px;" +
                                "top: {{ t.getPosicion().y }}px;" +
                                "height: {{ t.tamanio }}px;" +
                                "width: {{ t.tamanio }}px;",
                            class="{{ (t.genero == generos.h)?'h':'' }}",
                            data-energia="{{ t.energia }}",
                            data-etapa="{{ t.etapas[t.etapa.etapa].nombre }}",
                            data-etapa-duracion="{{ t.etapa.duracion }}")
                        span.p.pi(
                            ng-repeat="i in inopios.individuos",
                            style="" +
                                "left: {{ i.getPosicion().x }}px;" +
                                "top: {{ i.getPosicion().y }}px;"+
                                "height: {{ i.tamanio }}px;" +
                                "width: {{ i.tamanio }}px;",
                            class="{{ (i.genero == generos.h)?'h':'' }}",
                            data-energia="{{ i.energia }}",
                            data-etapa="{{ i.etapas[i.etapa.etapa].nombre }}",
                            data-etapa-duracion="{{ i.etapa.duracion }}")

                        span.a(
                            ng-repeat="a in plano.alicanolas",
                            style="" +
                                "left: {{ a.posicion.x }}px;" +
                                "top: {{ a.posicion.y }}px;" +
                                "height: {{ a.tamanio }}px;" +
                                "width: {{ a.tamanio }}px;")
                        span.f(
                            ng-repeat="f in plano.fifirufas",
                            style="" +
                                "left: {{ f.posicion.x }}px;" +
                                "top: {{ f.posicion.y }}px;" +
                                "height: {{ f.tamanio }}px;" +
                                "width: {{ f.tamanio }}px;")

                    .etiquetas
                        .item
                            p
                                strong Pispirispis - Tropus
                            p.row.not-margin.not-wrap
                                span.p
                                span Machos
                                span.number {{ tropus.machos }}
                            p.row.not-margin.not-wrap
                                span.p.h
                                span Hembras
                                span.number {{ tropus.hembras }}
                        .item
                            p
                                strong Pispirispis - Inopios
                            p.row.not-margin.not-wrap
                                span.p.pi
                                span Machos
                                span.number {{ inopios.machos }}
                            p.row.not-margin.not-wrap
                                span.p.pi.h
                                span Hembras
                                span.number {{ inopios.hembras }}
                        .item
                            p.row.not-margin.not-wrap
                                span.a
                                span Alicanolas
                                span.number {{ plano.alicanolas.length }}
                            p.row.not-margin.not-wrap
                                span.f
                                span Fifirufas
                                span.number {{ plano.fifirufas.length }}
                #control
                    include _control
                #analisis(class="{{ mostrarDatos?'active':'' }}")
                    include  _analisis